<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Full Mail</title>
</head>
<body>
  <h2>From: <%= from %></h2>
  <h3>Subject: <%= subject %></h3>
  <div class="mail-body"><%- body %></div>
</body>
</html>